html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica;
}
.main-wrapper {
  height: 100%;
  margin-left: 280px;
}
.wrapper {
  height: 100%;
}
.about {
  float: left;
  height: 100%;
  width: 280px;
  margin-left: -280px;
}
.about .wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
}
.about .content {
  padding: 0px 20px 0px 0;
  height: 280px;
  position: relative;
}
.about h1 {
  text-align: right;
  padding-top: 80px;
  margin-top: 0;
  font-size: 2em;
}
.about h1 strong {
  display: block;
  padding-bottom: 10px;
}
.about h1 span {
  display: block;
  font-size: .5em;
  padding-bottom: 3px;
  font-weight: normal;
}
.graphs {
  margin-left: 50px;
  padding-bottom: 80px;
}
.graph {
  margin-right: 20px;
}
.graph,
.meta {
  display: inline-block;
}
.page {
  margin-top: 80px;
  overflow: hidden;
}
.meta {
  position: relative;
  top: -20px;
  margin-top: 10px;
}
.meta h3 {
  margin-bottom: 0;
  padding: 0;
  font-size: 1em;
  color: #333;
}
.meta .source {
  margin: 0;
  font-size: .8em;
}
.meta .source a {
  color: #555;
  display: inline-block;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meta .source a:hover {
  text-decoration: none;
  color: #666;
}
#forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
}
.graph-Flower {
  width: 390px;
  height: 550px;
  background: #000;
  position: relative;
  overflow: hidden;
}
.graph-Flower .circle {
  position: absolute;
  top: -130px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background: transparent;
  box-shadow: 130px 341.08333333px 0 -10px #c590d4, 130px 211.08333333px 0 #9056a2, 43.33333333px 281.5px 0 #9056a2, 216.66666667px 281.5px 0 #9056a2, 130px 357.33333333px 0 #9056a2;
}
.graph-Flower .stick {
  width: 12px;
  height: 48px;
  background: #000;
  position: absolute;
  top: 163.5px;
  left: 189px;
}
.graph-Flower .stick:before {
  content: ' ';
  position: absolute;
  background: #f9cb37;
  height: 50%;
  width: 100%;
}
.graph-Flower .leaves {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.graph-Flower .leaves:after,
.graph-Flower .leaves:before {
  content: ' ';
  position: absolute;
  bottom: 50px;
  left: 50%;
  background-color: #00ab63;
  width: 117px;
  height: 117px;
  border-radius: 100% 0;
  -webkit-transform: skew(-30deg, -30deg);
  -moz-transform: skew(-30deg, -30deg);
  -ms-transform: skew(-30deg, -30deg);
  transform: skew(-30deg, -30deg);
}
.graph-Flower .leaves:after {
  -webkit-transform: rotate(-10deg) skew(-30deg, -30deg);
  -moz-transform: rotate(-10deg) skew(-30deg, -30deg);
  -ms-transform: rotate(-10deg) skew(-30deg, -30deg);
  transform: rotate(-10deg) skew(-30deg, -30deg);
  margin-left: 30px;
}
.graph-Flower .leaves:before {
  border-radius: 0 100%;
  -webkit-transform: rotate(10deg) skew(30deg, 30deg);
  -moz-transform: rotate(10deg) skew(30deg, 30deg);
  -ms-transform: rotate(10deg) skew(30deg, 30deg);
  transform: rotate(10deg) skew(30deg, 30deg);
  margin-left: -147px;
}

.graph-Les-Atelliers {
  width: 390px;
  background: #a68768;
}
.graph-Les-Atelliers:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
.graph-Les-Atelliers .cell {
  float: left;
  position: relative;
  width: 130px;
  height: 130px;
}
.graph-Les-Atelliers .cell:nth-child(4),
.graph-Les-Atelliers .cell:nth-child(6) {
  background: #160607;
}
.graph-Les-Atelliers .cell:nth-child(5),
.graph-Les-Atelliers .cell:nth-child(8) {
  background: #fff;
}
.graph-Les-Atelliers .cell:nth-child(1):after,
.graph-Les-Atelliers .cell:nth-child(2):after,
.graph-Les-Atelliers .cell:nth-child(3):after,
.graph-Les-Atelliers .cell:nth-child(5):after,
.graph-Les-Atelliers .cell:nth-child(7):after,
.graph-Les-Atelliers .cell:nth-child(9):after,
.graph-Les-Atelliers .cell:nth-child(10):after,
.graph-Les-Atelliers .cell:nth-child(11):after,
.graph-Les-Atelliers .cell:nth-child(12):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  border: 65px solid transparent;
}
.graph-Les-Atelliers .cell:nth-child(1):after {
  border-right-color: #000;
  border-bottom-color: #000;
}
.graph-Les-Atelliers .cell:nth-child(2):after {
  border-left-color: #000;
  border-right-color: #000;
  border-bottom-color: #7e9ecf;
}
.graph-Les-Atelliers .cell:nth-child(3):after {
  border-left-color: #000;
  border-bottom-color: #000;
}
.graph-Les-Atelliers .cell:nth-child(5):after {
  border-top-color: #7e9ecf;
}
.graph-Les-Atelliers .cell:nth-child(7):after {
  border-right-color: #000;
  border-top-color: #000;
}
.graph-Les-Atelliers .cell:nth-child(8):after {
  content: ' ';
  position: absolute;
  width: 21.66666667px;
  height: 21.66666667px;
  border: 10.83333333px solid transparent;
  border-left-color: #aa272f;
  border-bottom-color: #aa272f;
  left: 50%;
  bottom: 15%;
  margin-left: -21.66666667px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.graph-Les-Atelliers .cell:nth-child(9):after {
  border-left-color: #000;
  border-top-color: #000;
}
.graph-Les-Atelliers .cell:nth-child(5) {
  overflow: hidden;
}
.graph-Les-Atelliers .cell .ribbon {
  border-left: 32.5px solid #aa272f;
  border-bottom: 32.5px solid #aa272f;
  width: 97.5px;
  height: 97.5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -26.91px;
  outline: 1px solid transparent;
}
.graph-Les-Atelliers .cell .left-eye,
.graph-Les-Atelliers .cell .right-eye {
  position: absolute;
  bottom: 0;
  top: 40.3px;
  width: 26px;
  height: 13px;
  background: #000;
  border-radius: 13px 13px 0 0;
}
.graph-Les-Atelliers .cell .left-eye {
  left: 0px;
  -webkit-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  transform: rotate(-150deg);
}
.graph-Les-Atelliers .cell .right-eye {
  right: 0px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.graph-Les-Atelliers .cell:nth-child(10),
.graph-Les-Atelliers .cell:nth-child(11),
.graph-Les-Atelliers .cell:nth-child(12) {
  height: 160px;
}
.graph-Les-Atelliers .cell:nth-child(10) {
  overflow: hidden;
}
.graph-Les-Atelliers .cell:nth-child(10):after {
  left: -29px;
  border-width: 80px;
  border-right-color: #273b2f;
  border-bottom-color: #273b2f;
}
.graph-Les-Atelliers .cell:nth-child(11) {
  background: #fff;
  z-index: 1;
}
.graph-Les-Atelliers .cell:nth-child(11):after {
  left: 0;
  border-width: 80px;
  border-left-color: #c58f37;
  border-bottom-color: #c58f37;
}
.graph-Les-Atelliers .cell:nth-child(12) {
  background-color: #613e80;
  z-index: 2;
}
.graph-Les-Atelliers .cell:nth-child(12):after {
  border-width: 80px;
  border-right-color: #613e80;
  border-bottom-color: #613e80;
  left: -159px;
}

.graph-London-1985 {
  width: 390px;
  background: #e9c229;
}
.graph-London-1985:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
.graph-London-1985 .cell {
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
}
.graph-London-1985 .cell:nth-child(1):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: transparent #825180 #0d0e09 transparent;
}
.graph-London-1985 .cell:nth-child(1):after {
  right: 0;
  bottom: 0;
}
.graph-London-1985 .cell:nth-child(2) {
  background: #0d0e09;
}
.graph-London-1985 .cell:nth-child(3):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: transparent transparent #0d0e09 #825180;
}
.graph-London-1985 .cell:nth-child(4) {
  background: #0d0e09;
}
.graph-London-1985 .cell:nth-child(5) {
  background: #4885bb;
}
.graph-London-1985 .cell:nth-child(5):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: #e9afbb #fcf6e6 #fcf6e6 #fcf6e6;
}
.graph-London-1985 .cell:nth-child(5):after {
  top: 65px;
}
.graph-London-1985 .cell:nth-child(6) {
  background: #0d0e09;
}
.graph-London-1985 .cell:nth-child(7):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: #0d0e09 #0d0e09 transparent transparent;
}
.graph-London-1985 .cell:nth-child(8) {
  background: #fcf6e6;
}
.graph-London-1985 .cell:nth-child(8):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: #fcf6e6 #fcf6e6 #cc1e17 #fcf6e6;
}
.graph-London-1985 .cell:nth-child(8):after {
  border-width: 26px;
  left: 50%;
  top: 40px;
  margin-left: -26px;
}
.graph-London-1985 .cell:nth-child(9):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: #0d0e09 transparent transparent #0d0e09;
}
.graph-London-1985 .cell:nth-child(10):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: transparent #cc1e17 #cc1e17 transparent;
}
.graph-London-1985 .cell:nth-child(11):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 65px;
  border-style: solid;
  border-color: #fcf6e6 #1c4e43 #1c4e43 #fcf6e6;
}
.graph-London-1985 .cell:nth-child(12) {
  background: #cc1e17;
}

.graph-Nihon-Buyo {
  width: 390px;
  background: #f1dfb9;
}
.graph-Nihon-Buyo:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
.graph-Nihon-Buyo .cell {
  position: relative;
  float: left;
  width: 127px;
  height: 127px;
}
.graph-Nihon-Buyo .cell:nth-child(3n-1) {
  width: 136px;
}
.graph-Nihon-Buyo .cell:nth-child(2),
.graph-Nihon-Buyo .cell:nth-child(4),
.graph-Nihon-Buyo .cell:nth-child(6) {
  background: #000;
}
.graph-Nihon-Buyo .cell:nth-child(1),
.graph-Nihon-Buyo .cell:nth-child(2),
.graph-Nihon-Buyo .cell:nth-child(3),
.graph-Nihon-Buyo .cell:nth-child(4),
.graph-Nihon-Buyo .cell:nth-child(5),
.graph-Nihon-Buyo .cell:nth-child(6) {
  padding-bottom: 8px;
}
.graph-Nihon-Buyo .cell:nth-child(3):after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 115px;
  height: 115px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2cc1c8;
}
.graph-Nihon-Buyo .cell:nth-child(5) {
  background-color: #fff;
}
.graph-Nihon-Buyo .cell:nth-child(7) {
  background-image: -webkit-linear-gradient(-135deg, #151515 50%, transparent 50%);
  background-image: -moz-linear-gradient(-135deg, #151515 50%, transparent 50%);
  background-image: linear-gradient(-135deg, #151515 50%, transparent 50%);
}
.graph-Nihon-Buyo .cell:nth-child(8) {
  background-color: #fff;
}
.graph-Nihon-Buyo .cell:nth-child(8):after,
.graph-Nihon-Buyo .cell:nth-child(8):before {
  content: ' ';
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 50%;
}
.graph-Nihon-Buyo .cell:nth-child(8):before {
  width: 16px;
  height: 16px;
  z-index: 1;
  top: 44.5%;
  background: #ab2123;
  margin-left: -8px;
}
.graph-Nihon-Buyo .cell:nth-child(8):after {
  z-index: 2;
  top: 47%;
  margin-left: -10px;
  background: #ef113a;
}
.graph-Nihon-Buyo .cell:nth-child(9) {
  background-image: -webkit-linear-gradient(135deg, #151515 50%, transparent 50%);
  background-image: -moz-linear-gradient(135deg, #151515 50%, transparent 50%);
  background-image: linear-gradient(135deg, #151515 50%, transparent 50%);
}
.graph-Nihon-Buyo .cell:nth-child(10) {
  background-image: -webkit-linear-gradient(-45deg, #1f3598 50%, transparent 50%);
  background-image: -moz-linear-gradient(-45deg, #1f3598 50%, transparent 50%);
  background-image: linear-gradient(-45deg, #1f3598 50%, transparent 50%);
}
.graph-Nihon-Buyo .cell:nth-child(11) {
  background-color: #fff;
  background-image: -webkit-linear-gradient(-45deg, #009373 48.5%, transparent 48.5%);
  background-image: -moz-linear-gradient(-45deg, #009373 48.5%, transparent 48.5%);
  background-image: linear-gradient(-45deg, #009373 48.5%, transparent 48.5%);
}
.graph-Nihon-Buyo .cell:nth-child(12) {
  background-color: #ea0a2c;
}
.graph-Nihon-Buyo .forehead {
  height: 50%;
  background: #9869af;
}
.graph-Nihon-Buyo .eyes {
  position: relative;
  height: 25%;
}
.graph-Nihon-Buyo .left-eye,
.graph-Nihon-Buyo .right-eye {
  position: absolute;
  top: 0;
  background-color: #ef193b;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.graph-Nihon-Buyo .left-eye:after,
.graph-Nihon-Buyo .right-eye:after {
  content: ' ';
  position: absolute;
  bottom: 2px;
  width: 30px;
  height: 15px;
  background: #000;
  border-radius: 15px 15px 0 0;
}
.graph-Nihon-Buyo .left-eye {
  left: 0;
}
.graph-Nihon-Buyo .left-eye:after {
  -webkit-transform: translateX(5px) rotate(30deg);
  -moz-transform: translateX(5px) rotate(30deg);
  -ms-transform: translateX(5px) rotate(30deg);
  transform: translateX(5px) rotate(30deg);
}
.graph-Nihon-Buyo .right-eye {
  right: 0;
}
.graph-Nihon-Buyo .right-eye:after {
  -webkit-transform: translateX(-5px) rotate(-30deg);
  -moz-transform: translateX(-5px) rotate(-30deg);
  -ms-transform: translateX(-5px) rotate(-30deg);
  transform: translateX(-5px) rotate(-30deg);
}
.graph-Nihon-Buyo .cheek {
  height: 25%;
  margin-top: 2%;
  background-image: -webkit-linear-gradient(#ffcde8, #fff);
  background-image: -moz-linear-gradient(#ffcde8, #fff);
  background-image: linear-gradient(#ffcde8, #fff);
}
.graph-Nihon-Buyo .info {
  padding: 5px 2px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform: top left;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.graph-Nihon-Buyo .info h1,
.graph-Nihon-Buyo .info h2,
.graph-Nihon-Buyo .info p {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #222;
}
.graph-Nihon-Buyo .info h1 {
  font-size: 1em;
}
.graph-Nihon-Buyo .info h2 {
  font-size: .8em;
  margin-top: 5px;
}
.graph-Nihon-Buyo .info p {
  font-size: .5em;
}

.graph-Print {
  width: 390px;
  height: 490px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
.graph-Print .hair {
  width: 360px;
  height: 180px;
  background: #000;
  border-radius: 180px 180px 0 0;
  margin: 50px auto 0;
  position: relative;
  text-align: center;
}
.graph-Print .hair .circle {
  background: #d84825;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 55.71428571px;
  height: 55.71428571px;
  top: -10px;
  left: 18px;
}
.graph-Print .hair:before {
  content: '';
  width: 218.4px;
  height: 109.2px;
  background: #000;
  border-radius: 109.2px 109.2px 0 0;
  background: #ddab4a;
  display: inline-block;
  margin-top: -35px;
}
.graph-Print .hair:after {
  content: '';
  width: 150px;
  height: 75px;
  background: #000;
  border-radius: 75px 75px 0 0;
  background: #76a6f0;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -75px;
}
.graph-Print .face {
  width: 150px;
  margin: 0 auto;
}
.graph-Print .face .eyes {
  height: 15px;
  background: #fe9949;
  position: relative;
}
.graph-Print .face .eyes:after,
.graph-Print .face .eyes:before {
  content: ' ';
  width: 24px;
  height: 12px;
  border-radius: 12px 12px 0 0;
  background: #000;
  position: absolute;
  bottom: -2px;
}
.graph-Print .face .eyes:before {
  left: 15px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.graph-Print .face .eyes:after {
  right: 15px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.graph-Print .face .mouth {
  position: relative;
  top: 100px;
}
.graph-Print .face .mouth:after,
.graph-Print .face .mouth:before {
  content: '';
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
}
.graph-Print .face .mouth:after {
  background: #ff8f4d;
  width: 20px;
  height: 20px;
  margin-left: -10px;
}
.graph-Print .face .mouth:before {
  width: 16px;
  height: 16px;
  background: #f88250;
  margin-top: -3px;
  margin-left: -8px;
}
.graph-Print .body {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 148.98px;
  bottom: -241.02px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #6138b0;
  box-shadow: 3px -20px 0 #f7e45a;
}
.graph-Print .body:after {
  content: '';
  position: absolute;
  left: 25%;
  top: 8%;
  background: #5ebf5e;
  width: 111.42857143px;
  height: 111.42857143px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
