
.border-radius(@value) {
  -webkit-border-radius: @arguments;
  -moz-border-radius: @arguments;
  border-radius: @arguments;
}

.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;  
  transform: @value;  
}
.transform-origin(@value) {
  -webkit-transform-origin: @arguments;
  -moz-transform-origin: @arguments;
  transform: @arguments;
}

.linear-gradient(@value) {
  background-image: -webkit-linear-gradient(@value);
  background-image: -moz-linear-gradient(@value);
  background-image: linear-gradient(@value);
}

.size(@size) {
  width: @size;
  height: @size;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.clearfix() {
  &:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
}
